.column {
  width: 500px;
  float: left;
}

.blood {
  color: red;
  font-style: bold;
  text-align: center
}

.image {
  margin: 20px
}

.sidebar {
  width: 30%;
  float: right;
  background-color: red;
  border: 4px dashed black;
  padding: 4px;
  margin: 20px;
}